In [32]:
import pandas as pd

In [33]:
colunas_que_eu_quero = ['a00_regiao',
 'a06_domicilio',
 'p03_ocupacao',
 'a11_situacao',
 'b00_numero',
 'b02_sexo',
 'b03_relacao',
 'b04_idade',
 'b05_data',
 'b05a_idade_em_meses',
 'bb04_idade_da_mae',
 'p02_tipo_de_domicilio',
 'p03_ocupacao',
 'p06_cozinha',
 'h02_peso',
 'h03_altura',
 'h11_alergia',
 'h13_diarreia',
 'h14_tosse',
 'h15_respiracao',
 'e01_leite_peito',
 'e07_leite_vaca_liquido',
 'e06_leite_vaca_po',
 'e05_cha',
 'e10_formula_infantil',
 'e16_comida_sal',
 'e22_legumes',
 'e26_feijao',
 'e27_carne',
 'e33_refrigerante',
 'e31_salgadinhos',
 'e35_biscoito',
 'l01_morador_alim_acabassem',
 'l02_morador_alim_acabaram',
 'l03_morador_saudavel',
 'i004_2m_cabeca',
 'i028_6m_mao',
]

In [34]:
dataset = pd.read_csv(r'D:\Faculdade\DataScience\Dataset - HandsON\Bancos+ENANI2019+para+Portal+de+dados+abertos\data_bioq_calib_anon_22_Ajustado.csv',
    on_bad_lines='skip', sep=';', usecols=colunas_que_eu_quero
)
dataset.columns

Index(['a00_regiao', 'a06_domicilio', 'a11_situacao', 'b00_numero', 'b02_sexo',
       'b03_relacao', 'b04_idade', 'b05_data', 'b05a_idade_em_meses',
       'bb04_idade_da_mae', 'e01_leite_peito', 'e05_cha', 'e06_leite_vaca_po',
       'e07_leite_vaca_liquido', 'e10_formula_infantil', 'e16_comida_sal',
       'e22_legumes', 'e26_feijao', 'e27_carne', 'e31_salgadinhos',
       'e33_refrigerante', 'e35_biscoito', 'h02_peso', 'h03_altura',
       'h11_alergia', 'h13_diarreia', 'h14_tosse', 'h15_respiracao',
       'i004_2m_cabeca', 'i028_6m_mao', 'l01_morador_alim_acabassem',
       'l02_morador_alim_acabaram', 'l03_morador_saudavel',
       'p02_tipo_de_domicilio', 'p03_ocupacao', 'p06_cozinha'],
      dtype='object')

In [35]:
dataset.to_csv("dataset_filtrado.csv")

In [36]:
dataset.head(5)

,a00_regiao,a06_domicilio,a11_situacao,b00_numero,b02_sexo,b03_relacao,b04_idade,b05_data,b05a_idade_em_meses,bb04_idade_da_mae,...,h14_tosse,h15_respiracao,i004_2m_cabeca,i028_6m_mao,l01_morador_alim_acabassem,l02_morador_alim_acabaram,l03_morador_saudavel,p02_tipo_de_domicilio,p03_ocupacao,p06_cozinha
0,Norte,NaN,Urbano,2,Masculino,"Filho(a), enteado(a)",1,11092017,22 meses,27.0,...,Sim,Não,NaN,NaN,Sim,Não,Sim,Apartamento,Cedido de outra forma,Sim
1,Norte,NaN,Urbano,3,Feminino,"Filho(a), enteado(a)",4,6042015,51 meses,27.0,...,Sim,Não,NaN,NaN,Sim,Não,Sim,Apartamento,Cedido de outra forma,Sim
2,Norte,NaN,Urbano,2,Feminino,"Filho(a), enteado(a)",2,21122016,30 meses,22.0,...,Não,Não,NaN,NaN,Sim,Sim,Sim,Casa,Cedido de outra forma,Sim
3,Norte,NaN,Urbano,3,Masculino,"Filho(a), enteado(a)",4,13112014,56 meses,22.0,...,Não,Não,NaN,NaN,Sim,Sim,Sim,Casa,Cedido de outra forma,Sim
4,Norte,NaN,Urbano,2,Feminino,"Filho(a), enteado(a)",0,2092018,10 meses,33.0,...,Sim,Não,NaN,NaN,Sim,Não,Sim,Casa,Próprio de algum morador - já pago,Não

In [37]:
percent_faltante = (dataset.isnull().sum() / len(dataset['a00_regiao'])) *100
print(percent_faltante)

a00_regiao                      0.000000
a06_domicilio                 100.000000
a11_situacao                    0.000000
b00_numero                      0.000000
b02_sexo                        0.000000
b03_relacao                     0.000000
b04_idade                       0.000000
b05_data                        0.000000
b05a_idade_em_meses             0.000000
bb04_idade_da_mae               0.075560
e01_leite_peito                 0.000000
e05_cha                         0.000000
e06_leite_vaca_po               0.000000
e07_leite_vaca_liquido          0.000000
e10_formula_infantil            0.000000
e16_comida_sal                  0.000000
e22_legumes                     0.000000
e26_feijao                      0.000000
e27_carne                       0.000000
e31_salgadinhos                 0.000000
e33_refrigerante                0.000000
e35_biscoito                    0.000000
h02_peso                        0.000000
h03_altura                      0.000000
h11_alergia                     0.000000
h13_diarreia                    0.000000
h14_tosse                       0.000000
h15_respiracao                  0.000000
i004_2m_cabeca                 92.718780
i028_6m_mao                    95.054266
l01_morador_alim_acabassem      0.000000
l02_morador_alim_acabaram       0.000000
l03_morador_saudavel            0.000000
p02_tipo_de_domicilio           0.000000
p03_ocupacao                    0.000000
p06_cozinha                     0.000000
dtype: float64

In [38]:
colunas_n_quero = ['i004_2m_cabeca', 'i028_6m_mao', 'a06_domicilio']
dataset = dataset.drop(columns = colunas_n_quero)

In [39]:
dataset.head(3)

,a00_regiao,a11_situacao,b00_numero,b02_sexo,b03_relacao,b04_idade,b05_data,b05a_idade_em_meses,bb04_idade_da_mae,e01_leite_peito,...,h11_alergia,h13_diarreia,h14_tosse,h15_respiracao,l01_morador_alim_acabassem,l02_morador_alim_acabaram,l03_morador_saudavel,p02_tipo_de_domicilio,p03_ocupacao,p06_cozinha
0,Norte,Urbano,2,Masculino,"Filho(a), enteado(a)",1,11092017,22 meses,27.0,Não,...,Não,Não,Sim,Não,Sim,Não,Sim,Apartamento,Cedido de outra forma,Sim
1,Norte,Urbano,3,Feminino,"Filho(a), enteado(a)",4,6042015,51 meses,27.0,Não,...,Não,Não,Sim,Não,Sim,Não,Sim,Apartamento,Cedido de outra forma,Sim
2,Norte,Urbano,2,Feminino,"Filho(a), enteado(a)",2,21122016,30 meses,22.0,Não,...,Não,Não,Não,Não,Sim,Sim,Sim,Casa,Cedido de outra forma,Sim

In [40]:
dataset.shape

(14558, 33)